.carousel 
    position: relative
    overflow: hidden


.carousel-nav 
    position: absolute
    top: 50%
    left: 7px
    background-color: white
    width: 35px
    height: 35px
    opacity: 0.6


.carousel-nav.carousel-next 
    right: 7px
    left: auto