$breakpoint-tablet: 640px
$breakpoint-desktop: 980px
$premiumBg: black
$blackTone: #000000
$whiteTone: white
$greyTone: #757575

.card
    width: 100%

.box
    display: flex

.boxcol
    display: flex
    flex-direction: column

.underbox
    display: flex
    width: 100%
    justify-content: space-between
    background-color: $whiteTone
    align-items: center
    border-radius: 0 0 5px 5px
    height: 99px

.country, .place
    margin-top: 14px
    margin-bottom: 2px
    font-size: 18px
    color: $blackTone
    font-family: sevenMedium

.light-font
    font-family: sevenLight

.hotel, .rate
    margin-top: 0px
    margin-bottom: 12px
    font-size: 13px
    color: $blackTone
    letter-spacing: 1px

.hotel
    color: $greyTone

.options
    margin-top: 0
    margin-bottom: 10px

.premium
    background-color: $blackTone

.option
    background-color: #BD9C6A

.text-block
    margin-left: 15px
    height: 100%

.pic 
    width: 100%
    height: auto
    border-radius: 5px 5px 0 0

button 
    background-color: red
    border: none
    margin-right: 15px


.upto 
    margin: 0
    position: absolute
    bottom: 8px
    right: 16px
    font-family: sevenBlack
    color: $whiteTone
    background-color: transparent
    text-transform: uppercase
    // -webkit-text-stroke-width: 0.4px
    // -webkit-text-stroke-color: black
    text-shadow: 1px 1px $blackTone

.container
    position: relative


.card-button
    height: 44%
    width: auto
    margin-top: 2px
    margin-right: 27px

.long-string
    letter-spacing: -2px
.tag
    padding: 1px 3px
    font-size: 12px
    text-transform: uppercase     

.premium
    background-color: $premiumBg
    color: $whiteTone
    margin-right: 10px

.option
    background-color: #BD9C6A
    color: $whiteTone


@media (min-width: $breakpoint-tablet)
.underbox
    height: 82px
  

.country, .place
    margin-top: 13px
    font-size: 15px

.hotel, .rate 
    font-size: 11px
    margin-bottom: 8px


.text-block
    margin-left: 11px


.card-button
    margin-top: 1px
    margin-right: 20px

.tag
    font-size: 10px
