
.slide-right-enter-active
    animation: slideRightIn .5s


@keyframes slideRightIn 
    from 
        transform: translateX(100%)
    
    to 
        transform: translateX(0)
    


.slide-right-leave-active
    animation: slideRightOut .5s
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%


@keyframes slideRightOut 
    from 
        transform: translateX(0)
    
    to 
        transform: translateX(-100%)
        

.slide-left-enter-active
    animation: slideLeftIn .5s


@keyframes slideLeftIn 
    from 
        transform: translateX(-100%)
    
    to 
        transform: translateX(0)
    


.slide-left-leave-active
    animation: slideLeftOut .5s
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%


@keyframes slideLeftOut 
    from 
        transform: translateX(0)
    
    to 
        transform: translateX(100%)
        
