$breakpoint-tablet: 640px

.filter-container
  display: flex
  justify-content: space-between
  align-items: center
  background: white
  width: 231px
  margin: 0 auto 33px
  height: 39px
  border: solid black 1px


.left-block 
  background-color: white
  height: 100%
  width: 47px
  margin-top: 3.5px
  text-align: center

.label
  font-size:17px
  margin-top:7.5px
  letter-spacing:0.5px

.right-block
  display: flex
  justify-content: center
  align-items: center
  background-color: white
  height: 100%
  width: 39px
  border-left-style: solid
  border-left-width: 1px
  border-left-color: black

.filter-type
  display: flex
  width: auto

.filter-icon
  width: 44%
  height: auto
  margin: 0 auto
  max-width: 31px

.filter-menu-icon
  width: 69%
  height: auto

@media (min-width: $breakpoint-tablet)
    .filter-container
        width: 293px
        height: 51px
        border: none
        margin: 0 auto 54px

    .left-block
        width: 62px

    .label
        font-size: 22px
        margin-top: 6.5px
        letter-spacing: 0.5px

    .right-block
        width: 47px
        border-left-style: solid
        border-left-width: 2px
        border-left-color: #EFEFEF

