$breakpoint-desktop: 980px

.footer 
  display: flex
  flex-direction: column
  align-items: center
  background-color: #333333
  position: sticky
  bottom: -1px
  width: 100%
  margin: 0 auto
  height: 92px
  color: white

.footer p
  font-size: 15.5px
  text-transform: uppercase

.footer-title
    margin-top: 20px
    margin-bottom: 2px

.footer-subtitle
    margin: 0
    letter-spacing: -0.1px

.footer hr  
    display: block
    margin-top: 4px
    margin-left: auto
    margin-right: auto
    border-style: inset
    border-width: 1.5px
    width: 80px
    border-color: red
 

@media (min-width: $breakpoint-desktop) 
    .footer 
        width: 80.71%
        min-width: 955.594px

    .footer hr
        width: 245px
  
