$breakpoint-tablet: 640px

.header
  height: 92px
  text-align: center
    
.header hr 
    display: block
    margin-top: 9px
    margin-left: auto
    margin-right: auto
    border-style: inset
    border-width: 2px
    width: 101px
    border-color: #333333

.header h1
    color: #D92E22
    text-transform: uppercase
    margin-top: 8px
    margin-bottom: 0px
    font-size: 23px
    letter-spacing: -0.5px
    font-family: sevenMedium

.header h2
    color: #0E0E0E
    text-transform: uppercase
    font-size: 19px
    margin-top: 2px
    margin-bottom: 0px
    letter-spacing: 1px
    font-family: sevenLight

@media (min-width: $breakpoint-tablet)
    .header
        height: 153px
    .header h1 
        font-size: 34px
        margin-top: 13px
    .header h2
        font-size: 28px
    .header hr
        margin-top: 15px
        border-width: 3px
        width: 154px
        