@import "./header"
@import "./filterMenu"
@import "./card"
@import "./carousel"
@import "./carouselSlide"
@import "./footer"
    
$mainBg: #EFEFEF
$breakpoint-tablet: 640px
$breakpoint-desktop: 980px

    
body
    background-color: $mainBg
    margin: 0

    img
        display: block


.main-container
    position: relative
    margin-bottom: 63px

.back-line
    position: absolute
    left: 50%
    bottom: -1%
    z-index: -1

.line
    border-left: 3px solid #041A41
    height: 136px
    margin-left:-1.5px

.red-square
  height: 19px
  width: 19px
  background-color: #D92E22
  margin-left: -10px

.grid-container 
  display: grid
  grid-template-columns: 93%
  margin: 0 auto
  grid-gap: 30px 0px
  justify-content: center



@media (min-width: $breakpoint-tablet)
    .grid-container 
        width: 96%
        grid-template-columns: 48% 48%
        grid-gap: 20px 4%
        max-width: 800px
        min-width: 626px

    .back-line
        bottom: -3.45%

@media (min-width: $breakpoint-desktop)
    .grid-container
        width: 80.71%
        grid-template-columns: 32% 32% 32%
        grid-gap: 20px 2%
        max-width: 2296px
        min-width: 955.594px

    .line
        height: 306px