<template>
  <div class="card boxcol">
    <div class="container">
      <carousel>
        <carousel-slide v-for="(slide, index) in slides" :key="index">
          <img class="pic" :src="slide" :alt="destination.place"/>
        </carousel-slide>
      </carousel>
      <p class="upto">{{destination.upto}}</p>
    </div> 
    <div class="underbox">
      <div class="text-block">
        <div class="boxcol">
          <div class="box">
            <h2 class="country">{{destination.country}} <span class="long-string">---</span> <span class="light-font">{{destination.place}}</span></h2>
          </div>
          <div class="box">
            <h3 class="hotel">{{destination.label}}  <span class="rate">{{formatedRate}}</span></h3>
          </div>
        </div>
        <div class="box">
            <span v-for="(tag, index) in destination.tags" :key="index" class="options tag" :class="tag.classname">{{tag.label}}</span>
        </div>
      </div>
      <input class="card-button" type="image" src="/img/icons/card-button.png"/>
    </div>
</div>
</template>

<script>
import Carousel from './Carousel'
import CarouselSlide from './CarouselSlide'

export default {
  name: 'Card',
  props: {
    destination: Object
  },
  data () {
    return {
      publicPath: process.env.BASE_URL,
      slides: []
    }
  },
  components: {
    Carousel,
    CarouselSlide
  },

  computed: {
    pics () {
      let slides = []
      if(this.destination.imgs.length > 0){
        for(let i = 0; i < this.destination.imgs.length; i++){
          slides.push(this.publicPath + 'img/' + this.destination.imgs[i])
        }
      }
      return slides
    },
    formatedRate () {
      if (this.destination.rating) {
        let nbStar = Number(this.destination.rating.replace(/\*/g, ''))
        let star = ''
        for (let step = 0; step < nbStar; step++) {
          star += "★"
        }
        return star
      }
      return ''
    }
  },

  created(){
    this.slides = this.pics;
  }
}
</script>

<style>
</style>