<template>
    <transition :name="transition">
        <div v-show="visible">
            <slot>
            </slot>
        </div>
    </transition>
</template>

<script>
export default {
    data() {
        return {
            index: 0
        }
    },

    computed: {
        visible() {
            return this.index === this.$parent.index
        },
        transition() {
            if(this.$parent.direction) {
                return "slide-" + this.$parent.direction
            } 
            return null  
        }
    }

}
</script>

<style>
</style>