<template>
    <div class="carousel">
        <slot>
        </slot>
        <input v-show="slideButtons" class="carousel-nav carousel-prev" type="image" src="/img/icons/arrow-left.png" @click.prevent="next"/>
        <input v-show="slideButtons" class="carousel-nav carousel-next" type="image" src="/img/icons/arrow-right.png" @click.prevent="prev"/>
    </div>
</template>

<script>
export default {
    data() {
        console.log(this.$children)
        return {
            index: 0,
            slides: [],
            direction: null
        }
    },

    mounted() {
        this.slides = this.$children
        this.slides.forEach((slide, i) =>{
            slide.index = i
        })
    },

    computed: {
        slidesCount() {
            return this.slides.length
        },
        slideButtons() {
            return this.slides.length > 1 ? true : false;
        }
    },

    methods: {
        prev() {
            this.index++
            this.direction = "right"
            if(this.index >= this.slidesCount){
                this.index = 0
            }
        },
        next() {
            this.index--
            this.direction = "left"
            if(this.index < 0){
                this.index = this.slidesCount - 1
            }
        }
    }
}
</script>

<style>
</style>