<template>
  <div class="filter-container">
    <div class="filter-type">
      <div class="left-block">
        <input class="filter-icon" type="image" src="/img/icons/filter-icon.png" alt="filter-parameters"/>
      </div>
      <div class="label">DESTINATIONS</div>
    </div>
    <div class="right-block">
      <input class="filter-menu-icon" type="image" src="/img/icons/filter-menu-icon.png" alt="filter-menu"/>
    </div>
  </div>
</template>

<script>

export default {
  name: 'FilterMenu',
  data () {
    return {
    }
  },
  computed: {
  }
}
</script>

<style>
</style>