<template>
  <div class="footer">
    <p class="footer-title">REJOIGNEZ <b>EMIRATES | THE LIST</b></p>
    <p class="footer-subtitle">VOL + hôtel négociés jusqu'à -70%</p>
    <hr>
  </div>
</template>

<script>

export default {
  name: 'Footer',
  data () {
    return {
    }
  },
  computed: {
  }
}
</script>

<style>
</style>