<template>
  <div class="header">
    <h1>Découvrez les offres du moment</h1>
    <h2> Vol + hôtel jusqu'à -70%</h2>
    <hr>
  </div>
</template>

<script>

export default {
  name: 'Header',
  data () {
    return {
    }
  },
  computed: {
  }
}
</script>

<style>
</style>