<template>
  <div id="app">
    <Header />
    <FilterMenu />
    <div class="main-container">
      <div class="back-line">
        <div class="line"></div>
        <div class="red-square"></div>
      </div>
      <div class="grid-container">
        <Card v-for="(destination, index) in destinations" :key="index" :destination="destination" />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import FilterMenu from './components/FilterMenu.vue'
import Card from './components/Card.vue'
import Footer from './components/Footer.vue'
import {destinations} from './destinations.json'

export default {
  name: 'App',
  data() {
    return{
      destinations
    } 
  },
  components: {
    Header,
    FilterMenu,
    Card,
    Footer
  }
}
</script>

<style lang="scss">
@font-face {
  src: url(/fonts/SevenOneEight-Black.ttf);
  font-family: sevenBlack;
}
@font-face {
  src: url(/fonts/SevenOneEight-Book.ttf);
  font-family: sevenBook;
}
@font-face {
  src: url(/fonts/SevenOneEight-ExtraBold.ttf);
  font-family: sevenExtraBold;
}
@font-face {
  src: url(/fonts/SevenOneEight-Light.ttf);
  font-family: sevenLight;
}
@font-face {
  src: url(/fonts/SevenOneEight-Medium.ttf);
  font-family: sevenMedium;
}
$coucou: 2c3e50;

#app {
  font-family: sevenLight, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
